{
  "presets": [
    [
      "@babel/preset-env",
      {
          "targets": {
            "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
          },
          "debug": true
      }
    ]
  ],
  "plugins": ["@babel/transform-runtime"],
  // "presets": [
  //   ["env", {
  //     "modules": false,
  //     "targets": {
  //       "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
  //     }
  //   }]
  // ],
  // "plugins": ["transform-runtime"]
  "env": {
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": ["istanbul"]
    }
  }
}
